html,
body {
  padding: 0;
  margin: 0;
  Font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

tr > th, tr > td {
  font-size: 1.4em;
  font-weight: bold;
}

tr > td {
  white-space: nowrap; 
  overflow: hidden;
}

table {
  table-layout:fixed;
  box-sizing: border-box;
}

h3 {

  margin-right: 30px;
}

footer {
  display:flex;
  justify-content: space-around;
  font-size: 1.2em;
  text-align: center;
  bottom:0;
  width:100%;
  height:10vh;
} 

.time {
  font-size: 2em;
}

.fazer > *{
  font-size: 1.5em;
  font-weight: 800;
}

h3 {
  font-weight: 800;
}